*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background: #000; */
    color: #31e89f;
    /* Patron hecho con https://www.heropatterns.com/ */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2331e8e8' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

a{
    color: #31e89f;
    text-decoration: none;
}

ul{
    list-style: none;
}

.boton-menu{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    display: none;
    z-index: 2;
}

.contenedor{
    width: 90%;
    margin: auto;
}

/*** Aqui comienza**/


.img logo{
        
    width= 100;
    height= 100;
}




.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    color:  #31e89f;
    font-family: 'Titillium Web', sans-serif;
     margin-right: 50px;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    text-decoration: none;
    color:  #31e89f;
    font-size: 17px;
    
}
E
.menuCSS3 a:hover {
    background-color:  rgba(237, 220, 12, 0.46);

}

.menuCSS3 ul li ul {
    display: none;
    color:  #31e89f;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    position: absolute;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}


/**Aqui t**/


/* Navegación */
.navegacion{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.logo{
    width: 50px;
}

/* Navegación izquierda */
.navegacion ul{
    display: flex;
}

.navegacion ul li{
    padding: 10px;
}

.navegacion ul.menu-nav{
    flex: 1;
    margin-left: 20px;
}

.navegacion ul li a{
    padding: 6px;
}

.navegacion ul li a:hover{
    /* border-bottom: 2px solid #fff; */
    color: #31e8e8;
}

/* Showcase */
hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    background: url(Imagenes/empresas.jpg) no-repeat center/cover;
    height: 550px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.showcase h2, .showcase p{
    color: #fff;
}

.showcase h2{
    text-align: center;
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #31e89f;
    color: #000;
    font-size: 15px;
    /* border: 1px solid #fff; */
    margin: 10px 0;
}

.boton:hover{
    opacity: .7;
}

.showcase h2, .showcase p{
    margin-bottom: 10px;
}

/* Tarjetas */
.tarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.tarjetas img{
    width: 100%;
    height: 180px;
}

.tarjetas h3{
    font-size: 20px;
    margin: 10px 0;
}

.tarjetas a{
    padding: 10px 0;
    color: #31e89f;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.tarjetas a:hover{
    color: #31e8e8;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.iconos .icono{
    text-align: center;
    font-size: 30px;
}

.iconos h5{
    text-align: center;
}

/* Primer banner de tarjetas */
.banner-tarjetas-uno{
    width: 100%;
    height: 350px;
    background: url(Imagenes/edificio.jpg) no-repeat center/cover;
    margin-bottom: 40px;
}

.titulo-empresas{
    text-align: center;
}

.banner-tarjetas-uno .contenido{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #000;
}

.banner-tarjetas-uno p, .banner-tarjetas-uno h2{
    margin: 10px 0 20px 0;
}

/* Segundo banner de tarjetas */
.banner-tarjetas-dos{
    background: url(Imagenes/image-five.jpg) no-repeat center/cover;
    width: 100%;
    height: 350px;
}

.banner-tarjetas-dos .contenido{
    width: 50%;
    padding: 100px 0 0 30px;
    color: #fff;
}

p{
    text-align: justify;
}

/* Redes sociales */
.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces a{
    margin: 0 30px;
}

.enlaces a i{
    font-size: 3rem;
    
}

/* Enlaces del footer */
.enlaces-footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0

}

.contenedor-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    
}

.contenedor-footer ul{
    margin: 0 auto;
    
}

.contenedor-footer ul li{
    line-height: 2.8;
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 802px){
    .iconos{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px){
    .boton-menu{
        display: block;
    }

    .navegacion ul.menu-nav{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .navegacion ul.menu-nav.show{
        transform: translateX(-20px);
    }

    .navegacion ul.menu-nav li{
        padding: 20px;
        font-size: 14px;
    }

    .navegacion ul.menu-nav-derecha{
        margin-right: 40px;
    }

    .tarjetas{
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-tarjetas-uno .contenido, .banner-tarjetas-dos .contenido{
        width: 80%;
    }

    .enlaces-footer .contenedor-footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .tarjetas{
        grid-template-columns: 1fr;
    }

    .tarjetas img{
        height: 270px;
    }

    .banner-tarjetas-uno .contenido, .banner-tarjetas-dos .contenido{
        width: 100%;
        padding: 60px 20px;
    }

    .enlaces-footer .contenedor-footer{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 404px){
    .iconos{
        grid-template-columns: repeat(2, 1fr);
    }
}